In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn

In [2]:
dataset = pd.read_csv('diabetes.csv')

In [3]:
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
x = dataset[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']] 
y = dataset['Outcome']

In [9]:
from sklearn.feature_selection import SelectKBest, chi2

In [10]:
select_feature = SelectKBest(score_func = chi2,k=5)

In [11]:
select_feature.fit(x,y)

SelectKBest(k=5, score_func=<function chi2 at 0x000001ED5B45D160>)

In [12]:
score_col = pd.DataFrame(select_feature.scores_,columns = ['score_value'])

In [13]:
score_col

   score_value
0   111.519691
1  1411.887041
2    17.605373
3    53.108040
4  2175.565273
5   127.669343
6     5.392682
7   181.303689

In [14]:
feature_col  = pd.DataFrame(x.columns)

In [15]:
top_feature = pd.concat([feature_col, score_col], axis=1)

In [16]:
top_feature

                          0  score_value
0               Pregnancies   111.519691
1                   Glucose  1411.887041
2             BloodPressure    17.605373
3             SkinThickness    53.108040
4                   Insulin  2175.565273
5                       BMI   127.669343
6  DiabetesPedigreeFunction     5.392682
7                       Age   181.303689

In [17]:
top_feature.nlargest(5,'score_value')

             0  score_value
4      Insulin  2175.565273
1      Glucose  1411.887041
7          Age   181.303689
5          BMI   127.669343
0  Pregnancies   111.519691

In [18]:
dataset.drop('BloodPressure',
  axis='columns', inplace=True)

In [19]:
dataset.drop('SkinThickness',
  axis='columns', inplace=True)

In [52]:
dataset

,Pregnancies,Glucose,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,0,33.6,0.627,50,1
1,1,85,0,26.6,0.351,31,0
2,8,183,0,23.3,0.672,32,1
3,1,89,94,28.1,0.167,21,0
4,0,137,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...
763,10,101,180,32.9,0.171,63,0
764,2,122,0,36.8,0.340,27,0
765,5,121,112,26.2,0.245,30,0
766,1,126,0,30.1,0.349,47,1
767,1,93,0,30.4,0.315,23,0

In [53]:
dataset.drop('DiabetesPedigreeFunction',
  axis='columns', inplace=True)

In [54]:
x = dataset[['Pregnancies','Glucose','Insulin','BMI','Age']] 
y = dataset['Outcome']

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = .30,random_state = 1)

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
reg = LogisticRegression()

In [59]:
reg.fit(xtrain,ytrain)

LogisticRegression()

In [60]:
reg.predict(xtest)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [61]:
reg.score(xtest,ytest)

0.7662337662337663

In [62]:
from sklearn.metrics import accuracy_score

In [63]:
predict = reg.predict(xtest)

In [64]:
accuracy_score(ytest,predict)

0.7662337662337663

In [65]:
from sklearn.metrics import confusion_matrix

In [66]:
confusion_matrix(ytest,predict)

array([[129,  17],
       [ 37,  48]], dtype=int64)

In [67]:
from sklearn.metrics import classification_report

In [68]:
print(classification_report(ytest,predict))

              precision    recall  f1-score   support

           0       0.78      0.88      0.83       146
           1       0.74      0.56      0.64        85

    accuracy                           0.77       231
   macro avg       0.76      0.72      0.73       231
weighted avg       0.76      0.77      0.76       231

In [69]:
x1train,x1test,y1train,y1test = train_test_split(x,y,test_size = .25,random_state = 1)

In [70]:
reg.fit(x1train,y1train)

LogisticRegression()

In [71]:
predict = reg.predict(x1test)

In [72]:
accuracy_score(y1test,predict)

0.7552083333333334

In [73]:
print(classification_report(y1test,predict))

              precision    recall  f1-score   support

           0       0.78      0.86      0.82       123
           1       0.70      0.57      0.62        69

    accuracy                           0.76       192
   macro avg       0.74      0.71      0.72       192
weighted avg       0.75      0.76      0.75       192

In [74]:
x2train,x2test,y2train,y2test = train_test_split(x,y,test_size = .40,random_state = 1)

In [75]:
reg.fit(x2train,y2train)

LogisticRegression()

In [76]:
predict = reg.predict(x2test)

In [77]:
accuracy_score(y2test,predict)

0.7532467532467533

In [78]:
print(classification_report(y2test,predict))

              precision    recall  f1-score   support

           0       0.77      0.87      0.82       199
           1       0.70      0.53      0.60       109

    accuracy                           0.75       308
   macro avg       0.74      0.70      0.71       308
weighted avg       0.75      0.75      0.74       308

In [79]:
x3train,x3test,y3train,y3test = train_test_split(x,y,test_size = .20,random_state = 1)

In [81]:
reg.fit(x3train,y3train)

LogisticRegression()

In [82]:
predict = reg.predict(x3test)

In [83]:
accuracy_score(y3test,predict)

0.7467532467532467

In [84]:
print(classification_report(y3test,predict))

              precision    recall  f1-score   support

           0       0.77      0.87      0.82        99
           1       0.69      0.53      0.60        55

    accuracy                           0.75       154
   macro avg       0.73      0.70      0.71       154
weighted avg       0.74      0.75      0.74       154