In [1]:
import numpy as no
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('diabetes.csv')

In [3]:
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
dataset.drop_duplicates()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
x = dataset[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']] 
y = dataset['Outcome']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = .30,random_state = 1)

In [10]:
from sklearn.naive_bayes import MultinomialNB

In [11]:
reg = MultinomialNB()

In [12]:
reg.fit(xtrain,ytrain)

MultinomialNB()

In [13]:
reg.predict(xtest)

array([1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1], dtype=int64)

In [14]:
reg.score(xtest,ytest)

0.5454545454545454

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
predict = reg.predict(xtest)

In [17]:
accuracy_score(ytest,predict)

0.5454545454545454

In [18]:
from sklearn.metrics import classification_report

In [19]:
print(classification_report(ytest,predict))

              precision    recall  f1-score   support

           0       0.64      0.63      0.64       146
           1       0.39      0.40      0.39        85

    accuracy                           0.55       231
   macro avg       0.51      0.52      0.51       231
weighted avg       0.55      0.55      0.55       231

In [20]:
x1train,x1test,y1train,y1test = train_test_split(x,y,test_size = .25,random_state = 1)

In [21]:
reg.fit(x1train,y1train)

MultinomialNB()

In [22]:
predict = reg.predict(x1test)

In [23]:
accuracy_score(y1test,predict)

0.5416666666666666

In [24]:
print(classification_report(y1test,predict))

              precision    recall  f1-score   support

           0       0.65      0.61      0.63       123
           1       0.38      0.42      0.40        69

    accuracy                           0.54       192
   macro avg       0.51      0.52      0.51       192
weighted avg       0.55      0.54      0.55       192

In [25]:
x2train,x2test,y2train,y2test = train_test_split(x,y,test_size = .40,random_state = 1)

In [26]:
predict = reg.predict(x2test)

In [27]:
accuracy_score(y2test,predict)

0.551948051948052

In [28]:
print(classification_report(y2test,predict))

              precision    recall  f1-score   support

           0       0.66      0.62      0.64       199
           1       0.38      0.42      0.40       109

    accuracy                           0.55       308
   macro avg       0.52      0.52      0.52       308
weighted avg       0.56      0.55      0.56       308

In [29]:
x3train,x3test,y3train,y3test = train_test_split(x,y,test_size = .20,random_state = 1)

In [30]:
predict = reg.predict(x3test)

In [31]:
accuracy_score(y3test,predict)

0.525974025974026

In [32]:
print(classification_report(y3test,predict))

              precision    recall  f1-score   support

           0       0.64      0.60      0.62        99
           1       0.35      0.40      0.38        55

    accuracy                           0.53       154
   macro avg       0.50      0.50      0.50       154
weighted avg       0.54      0.53      0.53       154