In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("diabetes.csv")

In [10]:
df.shape

(768, 9)

In [11]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# Separate x,y

In [12]:
x=df.drop(["Outcome"],axis=1)

In [13]:
y=df['Outcome']

In [14]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [15]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [108]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.20, random_state=1)

In [109]:
from sklearn.linear_model import LinearRegression

In [110]:
reg = LinearRegression()

In [111]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [112]:
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
285,7,136,74,26,135,26.0,0.647,51
101,1,151,60,0,0,26.1,0.179,22
581,6,109,60,27,0,25.0,0.206,27
352,3,61,82,28,0,34.4,0.243,46
726,1,116,78,29,180,36.1,0.496,25
...,...,...,...,...,...,...,...,...
563,6,99,60,19,54,26.9,0.497,32
318,3,115,66,39,140,38.1,0.150,28
154,8,188,78,0,0,47.9,0.137,43
684,5,136,82,0,0,0.0,0.640,69
643,4,90,0,0,0,28.0,0.610,31

In [113]:
ytest

285    0
101    0
581    0
352    0
726    0
      ..
563    0
318    0
154    1
684    0
643    0
Name: Outcome, Length: 154, dtype: int64

In [114]:
pred = reg.predict(xtest)

In [115]:
pred

array([ 4.59954594e-01,  3.80239747e-01,  2.12342884e-01, -3.86688510e-02,
        2.59843145e-01,  3.13223890e-01,  3.98602734e-01,  1.43042165e-01,
        1.84150528e-01,  2.33610742e-01,  4.63183983e-01,  6.43846970e-02,
        1.18172098e+00,  6.74172073e-01, -3.41558250e-02,  6.84984897e-01,
        2.81878613e-01,  3.62033756e-01,  1.72141534e-01,  2.03382082e-01,
        4.30300626e-01,  1.93234806e-01,  1.04546584e+00,  3.32335783e-01,
        5.16388154e-02,  4.21713029e-01,  2.39696378e-01,  7.17488802e-01,
        8.41984016e-02,  5.11167671e-01,  4.26465056e-01,  3.67646881e-01,
        2.69066959e-02,  6.33037586e-01,  1.73488254e-01,  5.69840193e-01,
        1.04816474e-01,  2.39828459e-01,  1.17147162e-01,  5.51938890e-01,
        2.49338980e-01,  9.23745089e-02, -5.59002742e-02,  3.55269698e-01,
        6.95943712e-02, -1.31731952e-01,  6.90146960e-01,  7.74790295e-01,
        8.50897766e-02,  1.77862993e-01, -2.77417995e-01,  2.42839887e-01,
        8.15258484e-01,  1.71599058e-04,  6.70338218e-01,  1.22991838e-01,
        5.82006387e-01,  3.68288473e-01,  5.29924785e-01,  1.98006477e-01,
        5.83305809e-01, -1.93200191e-01,  6.65706148e-01,  2.56646499e-01,
        3.69333888e-01,  1.40143376e-01, -2.89802770e-01,  3.56781961e-01,
        6.57983704e-01,  5.90392627e-01,  8.52687722e-01,  6.62134170e-01,
        5.48949597e-01, -2.00026126e-01,  6.45641734e-01,  3.46439052e-01,
        6.21617966e-01,  3.73622316e-01,  1.74491155e-01,  6.18775405e-01,
        5.88225026e-01,  3.00003387e-01,  4.37879535e-01,  3.52382261e-01,
        2.83896806e-01,  6.61101461e-01,  5.49152694e-01,  3.55876033e-01,
        3.50832753e-01,  3.49426299e-01,  1.79679474e-01, -3.28916140e-02,
        3.15956585e-01,  1.06259492e-01,  7.02412942e-01,  4.92387096e-01,
        3.22469888e-01,  2.58317471e-01,  7.86459960e-01,  1.69192571e-01,
        1.93372105e-01,  3.45989495e-01,  6.26914877e-01,  3.12535807e-01,
        1.48538757e-01,  7.45938338e-02,  5.16211167e-01,  5.79835893e-01,
        2.62640285e-01,  1.40746929e-01,  4.37271792e-01, -1.63154488e-02,
        4.46608687e-01,  2.31818304e-01, -2.15060239e-01,  4.88753005e-02,
        1.56170227e-01,  4.21947182e-01,  3.31252713e-01,  4.09801877e-01,
        2.56202569e-01,  8.47331307e-01,  3.83963356e-01,  3.20828805e-01,
        2.05381262e-01,  1.72104868e-01,  3.08639331e-01,  4.03100739e-01,
        5.83715887e-01,  2.91740208e-01,  1.00159174e+00, -6.37368930e-02,
        4.16512314e-01,  4.01080419e-01,  1.96231711e-01,  3.14304152e-01,
        1.32530737e-01,  6.08355619e-01,  1.75213711e-01,  2.98568266e-01,
        9.88579286e-01,  1.24452414e-01,  2.48963367e-01,  7.53689622e-01,
        6.28493864e-01,  4.67467874e-01, -1.07937818e-02,  7.18107235e-02,
        2.13751162e-01,  2.15595724e-01,  3.17636560e-01,  1.03100070e+00,
        1.16460526e-01,  3.09400685e-01])

# performance

In [116]:
from sklearn.metrics import accuracy_score

In [117]:
accuracy_score(ytest,pred.round())

0.7792207792207793

In [118]:
from sklearn.metrics import confusion_matrix

In [119]:
score=confusion_matrix(ytest,pred.round())

In [120]:
score

array([[89, 10],
       [24, 31]], dtype=int64)

In [121]:
from sklearn.metrics import classification_report

In [123]:
print(classification_report(ytest,pred.round()))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84        99
           1       0.76      0.56      0.65        55

    accuracy                           0.78       154
   macro avg       0.77      0.73      0.74       154
weighted avg       0.78      0.78      0.77       154

In [124]:
from sklearn import tree

In [125]:
classify = tree.DecisionTreeClassifier()

In [126]:
classify.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [127]:
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
285,7,136,74,26,135,26.0,0.647,51
101,1,151,60,0,0,26.1,0.179,22
581,6,109,60,27,0,25.0,0.206,27
352,3,61,82,28,0,34.4,0.243,46
726,1,116,78,29,180,36.1,0.496,25
...,...,...,...,...,...,...,...,...
563,6,99,60,19,54,26.9,0.497,32
318,3,115,66,39,140,38.1,0.150,28
154,8,188,78,0,0,47.9,0.137,43
684,5,136,82,0,0,0.0,0.640,69
643,4,90,0,0,0,28.0,0.610,31

In [128]:
ytest

285    0
101    0
581    0
352    0
726    0
      ..
563    0
318    0
154    1
684    0
643    0
Name: Outcome, Length: 154, dtype: int64

In [129]:
predLog = classify.predict(xtest)

In [130]:
predLog

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [131]:
from sklearn.metrics import confusion_matrix

In [132]:
confusion_matrix(ytest,predLog.round())

array([[79, 20],
       [24, 31]], dtype=int64)

In [133]:
from sklearn.metrics import classification_report

In [135]:
print(classification_report(ytest,predLog.round()))

              precision    recall  f1-score   support

           0       0.77      0.80      0.78        99
           1       0.61      0.56      0.58        55

    accuracy                           0.71       154
   macro avg       0.69      0.68      0.68       154
weighted avg       0.71      0.71      0.71       154

In [136]:
from sklearn.ensemble import RandomForestClassifier

In [137]:
Random = RandomForestClassifier()

In [138]:
Random.fit(xtrain,ytrain)

RandomForestClassifier()

In [139]:
preRandom = Random.predict(xtest)

In [140]:
preRandom

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [141]:
from sklearn.metrics import confusion_matrix

In [142]:
confusion_matrix(ytest,preRandom.round())

array([[87, 12],
       [17, 38]], dtype=int64)

In [143]:
from sklearn.metrics import classification_report

In [144]:
print(classification_report(ytest,preRandom.round()))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86        99
           1       0.76      0.69      0.72        55

    accuracy                           0.81       154
   macro avg       0.80      0.78      0.79       154
weighted avg       0.81      0.81      0.81       154